/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Common */
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.text-center{
    text-align: center !important;
}
.col-full{
    width: 100%;
}
.col{
    float: left;
    padding: 0 8px;

}
.col-third{
    width: 33.3333%;
}
.col-half{
    width: 50%;
    
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
/* clear Float css */
.clear{
    clear: both;
}
/* Color Text */
.text-white{
    color: white;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* cách làm */
/* 
1: Từ ngoài vào trong
2:Từ trên xuống dưới
3:Tổng quan đến chi tiết
 */


 /* cách phân tích từng phần*/
/* 
1:vị trí
2:kích thước
3: màu sắc
4: kiểu dáng(kiểu chữ , hình dạng....)

 */
#main{

}

/* Header */
#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}
#nav li{
    display: inline-block;
    line-height: 46px;
    position: relative;
 
}
#nav{
    display: inline-block;
}

#nav >li >a{
    color: white;
}
#nav li a{
    
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    display: inline-block;
  
    
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav li:hover,
#nav >li:hover >a{
    background-color: #ccc;
    color: #333;
    
    

   
    
}
#nav .subnav{
    top: 100%;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 
  
}
#nav .subnav a{
    color: black;
    padding-left: 12px;
    padding-right: 12px;
  
}
#nav .subnav li{
    display: block;
    
    
}
.nav-arrow-down{
    font-size: 8px;
}
.search-btn,#header .mobile-menu-btn{
    float: right;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    
  

}
.search-btn .ti-search,
#header .mobile-menu-btn .ti-menu{
    line-height: 46px;
}
#header .mobile-menu-btn:hover,
.search-btn:hover{
    background-color: red;
    cursor: pointer;
}
/* Slider */
#slider{
    margin-top: 46px;
    padding-top: 50%;
    background-image: url('../img/slider1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 
}
.text-contain{
    position: absolute;
    color: white;
    bottom: 47px;
    width: 100%;
    text-align: center;
   
}
/* Content */
#content{

}
#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;

}
#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
    

}
#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 20px;

}

#content .member-list{
    margin-top: 45px;
  
}
#content .member-name{
    font-size: 15px;
   
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
   
    border-radius: 5px;

}
/* Tour Section */
.tour-section{
    background-color: black;
    

}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.tickets-list .sold-out{
    background-color: #f44336;
    padding-left: 8px;
    padding-right: 8px;
    width: 53px;
    margin-left: 16px;
    

}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 24px;


}
.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;

}

/* Places */
.places-list{
    margin-top: 32px;
    padding-bottom: 48px;
}

.place-body{
    background-color: white;
    padding: 16px;
    font-size: 15px;

}
.place-heading{
    font-size: 15px;
    font-weight: 600;

}
.place-time{
    margin-top: 15px;
    opacity: 0.5;

}
.place-description{
    margin-top: 15px;
    line-height: 18px;

}
.place-but-btn{
    color: #fff;
    background-color: black;
    padding: 11px 16px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;

}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.5;
    cursor: pointer;
}
.place-but-btn:hover{
    color: black;
    background-color: #ccc;
}
/* Modal */
.modal.open{
    display: flex;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
   
}
.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadein ease 1s;

}
/* header modal */
header.modal-header {
    background-color: #009688;
    height: 139px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal .modal-heading-icon{
    margin-right: 10px;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 10px;
    cursor: pointer;
    
}
.modal-close:hover{
    background-color: #f44336;

}
.modal-container .modal-body{
    padding: 16px;
}
.modal-body label {
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}
input.modal-input {
    width: 100%;
    padding: 10px;
    border: solid 1px #ccc;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-tickets{
    width: 100%;
    background-color: #009688;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px;
    cursor: pointer;
    border: none;

}
#buy-tickets:hover{
    opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    
   

}
.modal-help{
    float: right;
}
.modal-help a{
    color: #2196F3;
}

@keyframes modalFadein{
    from{
        transform: translateY(-100px);

    }
    to{
        transform: translateY(0);

    }
}
/* Contact */
/* Tu duy hang va cot */
.contact-content{
    margin-top: 48px;

}
.contact-info{
    font-size: 18px;
}
.contact-info p i{
    width: 40px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    

}
.form-submit-btn{
    font-size: 15px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    float: right;
    cursor: pointer;
    
}

.map>img{
    width: 100%;
}
/* Footer */
#footer{
    padding: 64px 16px;
   text-align: center;
}
.social-list{
    font-size: 24px;
}
.social-list a{
    text-decoration: none;
}
.copy-right{
    margin-top: 16px;
    font-size: 12px;
}
/* RESPONSIVE TABLET*/
@media(min-width:740px) and (max-width:1024px){
    #header{
        width: 100vw;
    }
    .map>img{
        width: 100%;
    }
    .row{
        margin-right: 0;
    }

}
/* RESPONSIVE mobile*/
@media(max-width:740px){
    #nav li{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
  

}
